<o-form-layout-manager attr="Participation" mode="tab" title="PARTICIPATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ParticipationTable" 
            service="Participation" 
            entity="Participation" 
            title="PARTICIPATION"
            keys="id"
            columns="id;campaign_id;designer_id" 
            header-actions="R;D"
            visible-columns="id;campaign_id;designer_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="campaign_id" title="campaign_id">
    <o-table-cell-renderer-service attr="campaign_id" 
        service="Campaign" entity="CampaignType" columns="id;name"
        parent-keys="id:campaign_id"
        value-column="name" keys="campaign_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="designer_id" title="designer_id">
    <o-table-cell-renderer-service attr="designer_id" 
        service="Designer" entity="DesignerType" columns="id;name"
        parent-keys="id:designer_id"
        value-column="name" keys="designer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>