<o-form #CollectionForm attr="Collection_form_insert" service="Collection" entity="Collection" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="brand_id"
        service="Brand" 
        entity="BrandType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;brand_id;name" 
        title="brand_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="designer_id"
        service="Designer" 
        entity="DesignerType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;designer_id;name" 
        title="designer_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #season attr="season" label="season" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #year attr="year" label="year" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #total_revenue attr="total_revenue" label="total_revenue" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>