<o-form-layout-manager attr="Design" mode="tab" title="DESIGN">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="DesignTable" 
            service="Design" 
            entity="Design" 
            title="DESIGN"
            keys="id"
            columns="name;collection_id;Type;unit_price;revenue;id;amount_sold" 
            header-actions="R;D"
            visible-columns="name;collection_id;Type;unit_price;revenue;id;amount_sold"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="collection_id" title="collection_id">
    <o-table-cell-renderer-service attr="collection_id" 
        service="Collection" entity="CollectionType" columns="id;id"
        parent-keys="id:collection_id"
        value-column="id" keys="collection_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #Type attr="Type" title="Type" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #unit_price attr="unit_price" title="unit_price" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #revenue attr="revenue" title="revenue" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #amount_sold attr="amount_sold" title="amount_sold" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>